<launch>
    <arg name="mavros_transformation" default="0" />
    <!-- <arg name="world_path" default="$(find simulation_environment)/sim/map/add_competition_map.world" /> -->
    <!-- <arg name="world_path" default="$(find simulation_environment)/sim/map/empty.world" /> -->
    <arg name="world_path" default="$(find simulation_environment)/sim/map/baylands.world" />
    
    <arg name="model" default="px4vision_custom"/>
    <!-- <arg name="model" default="iris_depth_camera_custom"/> -->
    <arg name="px4_vehicle" default="iris" />
    <arg name="gui" default="true"/>
   
    <param name="use_sim_time" value="true" /> 

    <node pkg="tf" type="static_transform_publisher" name="tf_depth_camera"
          args="0 0 0.035 -1.57 0 -1.57 base_link camera_link 10"/>

    <node pkg="tf" type="static_transform_publisher" name="tf_map_odom" args="0 0 0 0 0 0 map odom 100"/>

    <!-- Mavros and Sitl -->
    <include file="$(find simulation_environment)/launch/mavros_sitl.launch" >
        <arg name="world_path" value="$(arg world_path)" /> 
        <arg name="model" value="$(arg model)" />
        <arg name="px4_vehicle" value="$(arg px4_vehicle)" />
    	<!-- <arg name="x" value="0"/> -->
    	<!-- <arg name="y" value="0"/> -->
        <arg name="x" value="0"/>
        <arg name="y" value="0"/>
        <arg name="z" value="0.1"/>
        <arg name="gui" value="$(arg gui)"/>
    </include>

</launch>
