<?xml version="1.0" ?>
<model>
    <name>add_competition_building_with_stair</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Jongkuk Lim</name>
        <email>limjk@jmarple.ai</email>
    </author>
    <description>
            Custom building model from ADD challenge specification including stairs at the entrance.
            Last modified - 2022. 05. 24
    </description>
</model>
